html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}

}
ol, ul  {list-style: none;}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

a, a:hover {text-decoration: none;}

body {	
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;	
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.wrapper{
	width: 100%;
	position: relative;
}

/*----------Header----------*/
.header_container{
	position: relative;	
	background:   url(../img/background_header.png) 0 0 no-repeat ;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;	
}
.background_container{	
	position: relative;
	background:  #3b434c;
	opacity: 0.9;
	padding: 11% 0 11%;	
}
h1{
	margin-bottom: 1%;
	color: #fff;
	font-size: 4.375em;
	font-weight: 700;
	line-height: 1.063em;
	text-align: center;	
}
.h4{	
	color: #fff;
	font-size: 1.56em;
	font-weight: 400;
	line-height: 2.5em;
	text-align: center;
}
.things{	
	color: #f7600e;
}
.button_container{
	position: relative;    
	left: 38%;
	margin-top: 2%;
}
.button_container button a{
	font-size: 1em;
	font-weight: 600;
	line-height: 2.5em;	
	color: #fff;
}
.button_container button a  {
	padding: 20px 75px;
	background-color: transparent;
	border: none;	
	overflow: hidden;
}
.button_container button{
	background-color: transparent;	
	border: none;
}
.button_container button a:hover{
	background-color: #f7600e;
	border-radius:  10px;
	cursor: pointer;
}
menu{
	position: absolute;
	top: 7%;
	right: 14%;
	color: #fff;
}
menu a{
	color: #d1d2d4;
	font-size: 1em;
	font-weight: 400;
	line-height:  1.063em;
}
menu a:hover{
	color: #f7600e;
}
menu:hover{
	position: absolute;
	top: 7%;
	right: 11%;
	color: #fff;
}
menu:hover .dropDownMenu{
	/*visibility: visible;*/
	display: block;
}
.dropDownMenu{
	/*visibility: hidden;*/
	display: none;
}
.dropDownMenu ul li{
	list-style: none;
}
.b_arrow{
	position: absolute;
	bottom: 4%;
	left: 50%;
}
.fa-chevron-right{
	transform: rotate(90deg);
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50%; 
	padding: 14px;
}
/*----------/Header----------*/
/*----------section----------*/
.service{
	padding: 8% 0;
}
.service li{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.service_li_anchor svg{
	fill: #f7600e;
}
.service_li_anchor svg:hover{
	fill: #000;
}
.sect_item h3{
	margin-top: 5%;
	text-align: center;
	overflow: hidden;
	font-size: 1em;
	font-weight: 600;
	line-height: 2.5em;
}
.service_li_anchor h3:active{
	color: #000;
}
.service_li_anchor:active h3{
	color: #000;
}
.service p{
	color: #3b434c;
	font-size: 0.875em;
	line-height: 400;
	line-height: 1.625em;	
}

.sect_flex_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	
}
.sect_flex_block{
	
}
/*----------/section----------*/

/*----------Section Email----------*/
.email_section{
	background: url(../img/emailbg.png) 0  0 no-repeat ;
	-webkit-background-size: cover;
	background-size: cover;
}
.email_wrapper{
	background:  #3b434c;
	opacity: 0.9;
	text-align: center;
	padding: 4% 0;
}
.email_wrapper form input[placeholder]{
	border: none;
	padding: 0 14% 0 2%;
	border-radius: 8px;
	color: #3b434c;
	font-size: 16px;
	font-weight: 300;
	line-height: 40px;
}

.email_wrapper button{
	border: none;
	border-radius:  10px;
	margin-left: 2%;
	padding: 0 50px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	background-color: #f7600e;
	color: #fff;	
}

/*----------/Section Email----------*/
/*----------Section Portfolio----------*/
.portfolio{
	padding: 5% 0;	
	text-align: center;
}
.portfolio h2{
	color: #3b434c;
	font-size: 2.188em;
	font-weight: 600;
	line-height: 2.5em;
}
.dao_width{
	width: 26%;
	margin-left: 38%;
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.875em;
	color: #3b434c;
}
.portf_flex_container{display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	margin: 5% auto;
}
.portf_flex_container div{
	margin: 2%;    
	width: 361px;
	height: 361px;
	border-radius: 10px;	
}

.portf_flex_item1{background: url(../img/our-works1.png);

}
.portf_flex_item2{background: url(../img/our-works2.png);
}
.portf_flex_item3{background: url(../img/our-works3.png);
}
.portf_flex_item4{background: url(../img/our-works4.png);
	
}
.portf_flex_item5{background: url(../img/our-works5.png);
}
.portf_flex_item6{background: url(../img/our-works6.png);
}

.portf_item_hover{
	display: none;
	/*opacity: 0.9;/*
	background: #f7600e;*/
}
.portf_flex_container div:hover .portf_item_hover{
	display: block;
	opacity: 0.9;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	background-color: #f7600e;
	color: #fff;
	text-align: center;
	transition: 1s ease;
}
.portf_h3{
	font-size: 1.563em;
	font-weight: 600;
	line-height: 2.5em;
	padding-top: 20%;
}
.portf_item_hover p{
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.625em;
	padding: 5% 7% 0;
}
.portf_show{
	margin-top: 8%;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #f7600e;
	background: #fff;
	font-size: 1em;
	font-weight: 600;
	line-height: 2.5em;
	padding: 1% 7%;
	cursor: pointer;
}
/*----------/Section Portfolio----------*/

/*----------Header----------*/


/*---------- ----------*/
